<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeSheet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <form action="" method="post" id="grades">
        <div>
            <input name="course-name" placeholder="Course Name" required>
        </div>
        <div id="single" hidden>
            <input name="item-name" class="item-name" placeholder="Entry Name" disabled>
            <input name="percentage" class="percentage" placeholder="Percentage of Grade" disabled>
        </div>
        <div id="repeated" hidden>
            <input name="item-name" class="item-name" placeholder="Entry Name" disabled>
            <input name="percentage" class="percentage" placeholder="Percentage of Grade" disabled>
            <input name="num-items" class="num-items" placeholder="Number of Entries" disabled>
            <input name="counted-items" class="counted-items" placeholder="Number of Counted Entries" disabled>
        </div>
        <div id="weighted" hidden>
            <input name="item-name" class="item-name" placeholder="Entry Name" disabled>
            <input name="percentage" class="percentage" placeholder="Weighted Percentages of Grade" disabled>
            <input name="num-items" class="num-items" placeholder="Number of Entries" disabled>
        </div>
    </form>

    <button type="button" class="button" id="single-button">Single</button><br>
    <button type="button" class="button" id="repeated-button">Repeated</button><br>
    <button type="button" class="button" id="weighted-button">Weighted</button><br>
    <button type="submit" class="submit" id="submit" form="grades">Submit</button><br><br>

    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <!--For bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>